/* Upload Page Styles */
.upload-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #dedede;
  }
  
  .upload-page h1 {
    margin-bottom: 20px;
  }
  
  .upload-page form {
    display: flex;
  }
  
  .upload-page input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 200px;
  }
  
  .upload-page button {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: grey;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .upload-page button:hover {
    background-color: darkgrey;
  }
  
  /* Back Button Styles */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    text-decoration: underline;
  }
  
  .back-button:hover {
    color: darkgrey;
  }
  
  /* Uploaded Files List */
  .uploaded-files {
    margin-top: 20px;
  }
  
  .uploaded-files ul {
    list-style-type: none;
    padding: 0;
  }
  
  .uploaded-files li {
    margin: 5px 0;
  }
  
  /* Next Button Styles */
  .next-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .next-button:hover {
    background-color: darkgreen;
  }
  